.preco-original {
  text-decoration: line-through;
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.preco-final {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.preco-normal {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.preco-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* estrela com imagem */
.estrela-desconto {
  background-image: url("../img/star.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: bold;
  font-size: 0.7rem;

  text-align: center;
}


/* Hover nos jogos */
.jogo-card {

  background-color: #5c0074;
  color: antiquewhite;
  border: none;

  font-weight: bold;


  transition: transform 0.3s;
}

.jogo-card:hover {
  transform: scale(1.05);
}