body.tema-roxo {
  background-color: #000000;
  color:  rgb(201, 156, 249);
}

body.tema-preto {
  background-color: rgb(83, 23, 148);
  color: antiquewhite;
}

/* Hover nos jogos */
.jogo-card {

  background-color: #5c0074;
  color: antiquewhite;
  border: none;

  font-weight: bold;


  transition: transform 0.3s;
}

.jogo-card:hover {
  transform: scale(1.05);
}
