<section class="container mt-6">
  <div class="row align-items-center">

    <!-- CAROUSEL -->
    <div class="col-8 col-lg-9">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">

        <div class="carousel-inner" id="carousel-inner"></div>

        <div class="carousel-indicators" id="carousel-indicators"></div>

        <button class="carousel-control-prev" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>

      </div>
    </div>

    <!-- ================= CARD  ================= -->
    <div class="col-4 col-lg-2"> 
      <div class="info-jogo p-3">

        
        <span id="desconto" class="desconto-badge"></span>
        <div id="categorias" class="mb-2"></div>
        
        <h3 id="preco-final" class="preco-final mb-1"></h3>
        <p id="preco-original" class="preco-original mt-0"></p>

      </div>
    </div>

  </div>
</section>