<footer class="footer mt-5">
  <div class="container text-center">

      <div class="social mt-3">
        <a href="https://www.instagram.com/ide_jr/" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>

        <a href="https://www.linkedin.com/company/empresa-júnior-ide/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
  </div>


    <p class="mb-2">IDE © Todos os direitos reservados</p>
    
    <div class="links">
      <a href="#" data-bs-toggle="modal" data-bs-target="#modalTermos">Termos de Uso</a> |
      <a href="#" data-bs-toggle="modal" data-bs-target="#modalPrivacidade">Política de Privacidade</a> |
      <a href="#" data-bs-toggle="modal" data-bs-target="#modalContato">Contato</a>
    </div>
  </div>
</footer>