<section id="form" class="container mt-5">
  <div class="row align-items-center">
    
    <h3>Deixe seu Feedback UwU</h3>

    <!-- FORM -->
    <div class="col-md-6 form-bg">
      <form>
        <h5>Nome</h5>
        <input class="form-control mb-3" placeholder="Seu nome">
        <h5>Email</h5>
        <input class="form-control mb-3" placeholder="exemplo@gmail.com">
        <h5>Jogo</h5>
        <input class="form-control mb-3" placeholder="Nome inteiro do jogo">
        <h5>Avaliação</h5>
        <textarea class="form-control mb-2" rows="6" placeholder="Deixe a sua avaliação UwU"></textarea>
        <button type="button" class="btn btn-roxo">Enviar</button>
      </form>
    </div>

    <!-- ================= NEKO ================= -->
    <div class="col-md-6 text-center">
      <img src="img/neko.png" class="neko">
    </div>

  </div>
</section>
