
<!-- ================= Janela Termos de Uso ================= -->
<div class="modal fade" id="modalTermos" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Termos de Uso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
         <p>Ao acessar e utilizar a plataforma IDEX, você concorda com os seguintes termos:</p>

         <ol>
            <li>Este site é um projeto acadêmico desenvolvido para o processo seletivo da empresa júnior IDE.</li>
            <li>Todo o conteúdo exibido é fictício e utilizado apenas para fins de demonstração.</li>
            <li>Nenhuma transação financeira real é realizada através desta plataforma.</li>
            <li>As imagens e marcas de jogos pertencem aos seus respectivos proprietários.</li>
            <li>O uso do site implica na aceitação integral destes termos.</li>
          </ol>
      </div>
    </div>
  </div>
</div>


<!-- ================= Janela Política de Privacidade ================= -->
<div class="modal fade" id="modalPrivacidade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Política de Privacidade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>A sua privacidade é importante para nós. Veja como tratamos seus dados:</p>

        <ul>
          <li><strong>Coleta de Dados:</strong> Nenhum dado pessoal é coletado ou armazenado por esta plataforma.</li>
          <li><strong>Terceiros:</strong> Não compartilhamos nenhuma informação com terceiros.</li>
        </ul>
        <p>Este site é apenas uma demonstração acadêmica sem funcionalidades reais de coleta de dados.</p>
      </div>
    </div>
  </div>
</div>


<!-- ================= Janela Contato ================= -->
<div class="modal fade" id="modalContato" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Precisa de ajuda? Entre em contato conosco:</p>

        <ul>
          <li><strong>E-mail:</strong> contato@idejr.com.br</li>
          <li><strong>Instagram:</strong> <a href="https://www.instagram.com/ide_jr/" target="_blank">@ide_jr</a></li>
          <li><strong>Linktree:</strong> <a href="https://linktr.ee/idejr" target="_blank">linktr.ee/idejr</a></li>
        </ul>

        <small>Este é um projeto do processo seletivo. Para dúvidas reais sobre a IDE, entre em contato pelas redes sociais acima.</small>
      </div>
    </div>
  </div>
</div>

