<head></head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="img/ide.png" alt="Logo" class="logo">
    </a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#promo">HOME</a></li>
        <li class="nav-item"><a class="nav-link" href="#carousel">OFERTAS</a></li>
        <li class="nav-item"><a class="nav-link" href="#jogos">DESTAQUES</a></li>
      </ul>

      <div class="d-flex align-items-center">
        <img src="img/login.png" class="nav-img me-3">  
        <img src="img/tema.png" class="nav-img" onclick="trocarTema()">
      </div>
    </div>
  </div>
</nav>