<head></head>
<nav class="navbar navbar-expand-lg navbar-dark navbar-darkTheme fixed-top ">
  <div class="container">
    <a class="navbar-brand logo-container logo" href="#"  onclick="girarLogo()">
      <img src="img/navbar/ideLogo_02.png" class="logo_02">
      <img src="img/navbar/ideLogo_01.png" class="logo_01">
      
    </a>

    <!-- Trecho "Hamburguer", que aparece quando a navbar é menor que X pixels -->
    <div>
      <img class="nav-icon navbar-toggler me-3" id="botao-carrinho" src="img/navbar/carrinho.png">
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse ">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#promo">HOME</a></li>
        <li class="nav-item"><a class="nav-link" href="#carousel">OFERTAS</a></li>
        <li class="nav-item"><a class="nav-link" href="#jogos">DESTAQUES</a></li>
        <!-- Se der tempo...  -->
        <!-- <li class="nav-item"><a class="nav-link" href="#jogos">FAVORITOS</a></li>-->
      </ul>

      <div class="d-flex flex-column align-items-center">
        <div class="d-flex align-items-center justify-content-center">
          <p style="font-size: 1.1rem; font-weight: 500; color: aliceblue; ">
            Bem vindo, <span style="color: rgb(138, 63, 218);">Mr Aura</span>!
          </p>
        </div>
        <div class="d-flex gap-3">
          <img id="botao-carrinho" src="img/navbar/carrinho.png" class="nav-icon">
          <img id="botao-favoritos" src="img/navbar/favoritos.png" class="nav-icon">
          <img id="botao-tema" src="img/navbar/lightTheme.png" onclick="trocarTema()">
        </div>
      </div>
      <div class="profile-container ms-5">
        <img src="img/navbar/moldura.png" class="moldura">
        <img src="img/navbar/profilePic.png" class="prof-picture">
      </div>
    </div>
  </div>
</nav>